.fetchButton {
  padding: 8px 16px;
  background-color: var(--bg-button);
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
  transition: background-color 0.2s ease;
}

.fetchButton:hover {
  background-color: var(--bg-button-hover);
}

.fetchButton:focus,
.fetchButton:focus-visible {
  outline: var(--button-focus-outline);
}
